.App {
    height: 100%;
    .layout{
        height: 100%;
        .header{
            background:skyblue;
            height: 80px;
        }
        .sider{
            background:#fff;
            width: 200px;
            height: 100%;
        }
        .content{
            background:#ccc;
            height: 100%;
        }
    }
}

